* { box-sizing: border-box; }
html, body, h1, h2, h3, p, ul, ol, li, table, tr, td, figure { margin: 0; padding: 0; }
img { border: 0; }
a { text-decoration: none; }
ul, ol { list-style: none; }
button { font: inherit; background: none; border: none; cursor: pointer; }
